@font-face {
    font-family: "PP Agrandir";
    src: url("fonts/PPAgrandir-WideRegular.otf") format("opentype");
    font-weight: 400;
    font-stretch: expanded;
  }
  
  body {
    font-family: "PP Agrandir", sans-serif;
  }
  