<head>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<!-- injection pour Gulp Template ! 
    <h1><%= nom %></h1>
    <br>
    <h2><%= fonction %></h2>
 -->

 <div class="main">
    <table>
        <tr class="firstRow">
            <td><span class="name">Emmanuel Cuénod</span></td>
            <td><span class="fonction">Directeur</span></td>
        </tr>
        <tr>

            <td>
                <table class="secondaryTable">
                    <tr>
                        <td><a href="tel:+41796815427" class="telephone">+41.79.681.54.27</a></td>
                        <td><a href="mailto:ec@polnum.ch" class="email">ec@polnum.ch</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="footer">
            <td>
                <table class="secondaryTable">
                    <tr>
                        <td>
                            <img src="logo.png" alt="logo">
                        </td>
                        <td>
                            <p class="footerText">Pôle de Création Numérique
                                <br><br>
                                Quai Ernest-Ansermet 20b <br>
                                1211 Genève <br>
                                info@polnum.ch</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    

 </div>
</body>

