
body{
    margin:0;
    padding:0;
    line-height: 1;
    color:black;
    font-family: 'Roboto Mono', monospace;
}


.main{
    margin-top: 20px;
}
table{
    //border: solid 1px black;
    margin-left:10px;
}
a {
    color: black;
    text-decoration: none;
}
p, a, span{text-transform: uppercase;}
.headerSpacer{
    height:30px;
}
.firstRow{
    td{
        vertical-align: baseline;
    }
}
.name{
    font-family: "PP Agrandir Wide", helvetica, sans;
    font-size: 29.9px;
    line-height: 1;
    text-transform: none;
    font-stretch:wider;
}
.fonction, .telephone, .email{
    font-size:12.82px;
}

.fonction{
    letter-spacing: -0.5;
    font-weight: 500;
}
.contact {
    margin-top: 5px;
    margin-left:0px;
    td{
        vertical-align: bottom;
    }
}
.spacer{
    height: 21.33px;
}

.footerText{
        font-size:8.89px;
        line-height: 1;
}

.logo{
    //width:159.22px;
}
.pcnPicto{
    //width:48.88px;
}
.secondaryTable{
    margin:0px;
    margin-top:0px;
    margin-left:0px;
        td:last-child, td:nth-child(2){
             p,a{
                margin-left:36.14px;
            }
        }
    }